@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

.Pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    outline: transparent;
    float: right;
    margin-right: 56px;
    padding: 0;
}

.PaginationPageItem {
    height: 25px;
    width: 21px;
    color: #808080;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin-left: 16px;
}

.PaginationPreviousItem {
    margin-left: 16px;
}
.PaginationNextItem {
    margin-left: 16px;
}

.PaginationPageItem:hover {
    height: 25px;
    width: 21px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0064eb;
    color: #fff;
    margin-left: 16px;
}

.PaginationActive {
    margin-left: 16px;
    width: 21px;
    background-color: #0064eb;
    color: #fff;
}

.PaginationBreak {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    margin-left: 16px;
}
.PaginationBreak :hover{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background-color: #0064eb;
    color: #fff;
    width: 25px;
    height: 25px;
    margin-left: 16px;
    margin-right: 16px;
}

@media screen and (max-width: 1025px) {
    .Pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    outline: transparent;
    float: right;
    margin-right: 0;
    padding: 0;
}
} 