.InputContainer {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
}

.Input {
    height: 40px;
    width: 500px;
    margin: 0;
    border: 0;
    outline: none;
    border-radius: 0 6px 6px 0;
}

.Input::placeholder {
    color: grey;
}

.Button {
    margin-left: 22px;
    border: 0;
    background-color: #fff;
    height: 42px;
    border-radius: 6px 0 0 6px;
}


@media (max-width: 320px) {
    .Input {
        height: 40px;
        width: 190px;
        margin: 0;
        border: 0;
        outline: none;
        border-radius: 0 6px 6px 0;
    }
}
@media screen and (min-width: 321px) and (max-width: 376px) {
    .Input {
        height: 40px;
        width: 200px;
        margin: 0;
        border: 0;
        outline: none;
        border-radius: 0 6px 6px 0;
    }
}
@media screen and (min-width: 376px) and (max-width: 426px) {
    .Input {
        height: 40px;
        width: 250px;
        margin: 0;
        border: 0;
        outline: none;
        border-radius: 0 6px 6px 0;
    }
}
@media screen and (min-width: 426px) and (max-width: 650px) {
    .Input {
        height: 40px;
        width: 300px;
        margin: 0;
        border: 0;
        outline: none;
        border-radius: 0 6px 6px 0;
    }
}