.InputContainer {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
}

.Input {
    height: 40px;
    width: 500px;
    margin: 0;
    border: none;
    outline: none;
    -webkit-appearance: none;
    border-radius: 0 6px 6px 0;
}

.Input::placeholder {
    color: grey;
}

.Button {
    margin-left: 22px;
    border: 0;
    background-color: #fff;
    height: 42px;
    border-radius: 6px 0 0 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
}


@media screen and (max-width: 340px) {
    .Input {
        width: 190px;
    }
}
@media screen and (min-width: 341px) and (max-width: 396px) {
    .Input {
        width: 200px;
    }
}
@media screen and (min-width: 396px) and (max-width: 436px) {
    .Input {
        width: 250px;
    }
}
@media screen and (min-width: 436px) and (max-width: 650px) {
    .Input {
        width: 300px;
    }
}