.ContentContainer {
    grid-area: "C";
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 6fr;
    grid-template-rows: 100%;
    grid-template-areas: "P R";
    /* border: 1px solid blue; */
}

@media screen and (max-width: 320px) {
    .ContentContainer {
        grid-template-columns: 100%;
        grid-template-rows: 500px auto;
        grid-template-areas: "P"
        "R";
    }
}
@media screen and (max-width: 376px) {
    .ContentContainer {
        grid-template-columns: 100%;
        grid-template-rows: 500px auto;
        grid-template-areas: "P"
        "R";
    }
}
@media screen and (max-width: 426px) {
    .ContentContainer {
        grid-template-columns: 100%;
        grid-template-rows: 500px auto;
        grid-template-areas: "P"
        "R";
    }
}
