.Header {
    height: 72px;
    grid-area: "H";
    background: #0064EB;
    display: flex;
    flex-direction: row;
}

.Logo {
    margin-left: 41px;
    display: flex;
    align-items: center;
    font-size: 40px;
    color: #fff;
}

@media screen and (max-width: 320px) {
    .Logo {
        margin-left: 20px;
    }
}