@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

.RepositoryCard {
    box-sizing: border-box;
    width: 877px;
    height: 112px;
    border-radius: 6px;
    padding: 24px 32px 24px 32px;
    background-color: #fff;
    font-family: "Inter";
    font-style: normal;
    margin-bottom: 24px;
}

.Name {
    width: fit-content;
    height: 29px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #0064eb;
}
.Name a {
    text-decoration: none;
    color: #0064eb;
}

.Description {
    width: fit-content;
    height: 19px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin: 16px 0;
    color: #000000;
}

@media screen and (max-width: 341px) {
    .RepositoryCard {
        width: 300px;
        padding: 10px 16px 10px 16px;
        overflow: hidden;
    }
    .Description {
        font-size: 14px;
        height: fit-content;
        line-height: 19px;
    }
}

@media screen and (min-width: 341px) and (max-width: 376px) {
    .RepositoryCard {
        width: 330px;
        padding: 10px 16px 10px 16px;
        overflow: hidden;
    }
}

@media screen and (min-width: 376px) and (max-width: 426px) {
    .RepositoryCard {
        width: 330px;
        padding: 10px 16px 10px 16px;
        overflow: hidden;
    }
}

@media screen and (min-width: 425px) and (max-width: 560px) {
    .RepositoryCard {
        width: 410px;
        padding: 10px 16px 10px 16px;
        overflow: hidden;
    }
}

@media screen and (min-width: 561px) and (max-width: 769px) {
    .RepositoryCard {
        width: 500px;
    }
}

@media screen and (min-width: 770px) and (max-width: 1350px) {
    .RepositoryCard {
        width: 650px;
    }
}

@media screen and (min-width: 341px) and (max-width: 1025px) {
    .Description {
        width: fit-content;
        height: 80px;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        margin: 8px 0;
        color: #000000;
    }

    .Name {
        width: 100%;
        height: fit-content;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        color: #0064eb;
    }
}