.App {
  /* overflow: hidden; */
  height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 72px calc(100vh - 72px);
  grid-template-areas: "H"
  "C";
  /* border: 3px solid purple; */
}


@media screen and (max-width: 320px) {
  .App {
    height: fit-content;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 72px calc(100vh - 72px);
    grid-template-areas: "H"
    "C";
  }
}

@media screen and (max-width: 375px) {
  .App {
    height: fit-content;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 72px calc(100vh - 72px);
    grid-template-areas: "H"
    "C";
  }
}
