@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.RepositoriesDisplayBlock {
    /* border: 1px solid red; */
    position: relative;
    height: 100%;
    width: 100%;
    grid-area: "R";
}

.RepositoriesHeader {
    margin-top: 28px;
    margin-bottom: 29px;
    height: 42px;
    width: fit-content;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    color: #000000;
}

.Repositories {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.BannerDisplayBlock {
    height: 100%;
    width: 100%;
    grid-area: "R";
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
}

.Banner {
    height: 100px;
    width: fit-content;
    color: #808080;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 31px;
    text-align: center;
}

.Icon {
    width: 76px;
    height: 62px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    border: 10px solid #808080;
    border-radius: 8px;
    margin-bottom: 48px;
}

.Spinner {
    color: #0064eb;
    font-size: 50px;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: rotate 1.5s infinite linear;
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.ItemsCount {
    width: fit-content;
    height: 21px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;

    color: #808080;
}

.PaginationContainer {
    position: absolute;
    bottom: 28px;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-right: 56px;
}

@media screen and (max-width: 320px) {

    .RepositoriesHeader {
        height: 42px;
        width: fit-content;
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 42px;
        color: #000000;
        margin: 20px auto;
    }
    .RepositoriesDisplayBlock {
        position: relative;
        height: fit-content;
        width: 100%;
        grid-area: "R";
    }
    .BannerDisplayBlock {
        position: absolute;
        top: 0;
        background-color: #f9f9f9;
        height: 610px;
        width: 320px;
        z-index: 2;
        grid-area: "R";
        display: flex;
        align-items: center;
        justify-content: center;
        /* border: 1px solid red; */
    }
    .Repositories {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .PaginationContainer {
        position: relative;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
}

@media screen and (min-width: 321px) and (max-width: 376px) {

    .RepositoriesHeader {
        height: 42px;
        width: fit-content;
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 42px;
        color: #000000;
        margin: 20px auto;
    }
    .RepositoriesDisplayBlock {
        position: relative;
        height: fit-content;
        width: 100%;
        grid-area: "R";
    }
    .BannerDisplayBlock {
        position: absolute;
        top: 0;
        background-color: #f9f9f9;
        height: 610px;
        width: 100%;
        z-index: 2;
        grid-area: "R";
        display: flex;
        align-items: center;
        justify-content: center;
        /* border: 1px solid red; */
    }
    .Repositories {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .PaginationContainer {
        position: relative;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
}
@media screen and (min-width: 376px) and (max-width: 426px) {

    .RepositoriesHeader {
        height: 42px;
        width: fit-content;
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 42px;
        color: #000000;
        margin: 20px auto;
    }
    .RepositoriesDisplayBlock {
        position: relative;
        height: fit-content;
        width: 100%;
        grid-area: "R";
    }
    .BannerDisplayBlock {
        position: absolute;
        top: 0;
        background-color: #f9f9f9;
        height: 610px;
        width: 100%;
        z-index: 2;
        grid-area: "R";
        display: flex;
        align-items: center;
        justify-content: center;
        /* border: 1px solid red; */
    }
    .Repositories {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .PaginationContainer {
        position: relative;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
}
@media screen and (min-width: 426px) and (max-width: 769px) {

    .RepositoriesHeader {
        height: 42px;
        width: fit-content;
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 42px;
        color: #000000;
        margin: 20px auto;
    }
    .RepositoriesDisplayBlock {
        position: relative;
        height: fit-content;
        width: 100%;
        grid-area: "R";
    }
    .BannerDisplayBlock {
        position: absolute;
        top: 0;
        background-color: #f9f9f9;
        height: 610px;
        width: 100%;
        z-index: 2;
        grid-area: "R";
        display: flex;
        align-items: center;
        justify-content: center;
        /* border: 1px solid red; */
    }
    .Repositories {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .PaginationContainer {
        position: relative;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
}
@media screen and (min-width: 770px) and (max-width: 1025px) {

    .RepositoriesHeader {
        height: 42px;
        width: fit-content;
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 42px;
        color: #000000;
        margin: 20px auto;
    }
    .RepositoriesDisplayBlock {
        position: relative;
        height: fit-content;
        width: 100%;
        grid-area: "R";
    }
    .BannerDisplayBlock {
        position: absolute;
        top: 0;
        background-color: #f9f9f9;
        height: 610px;
        width: 100%;
        z-index: 2;
        grid-area: "R";
        display: flex;
        align-items: center;
        justify-content: center;
        /* border: 1px solid red; */
    }
    .Repositories {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .PaginationContainer {
        position: relative;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
}
